<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.SiteConfigMapper">
	
	<update id="modifySiteConfig" parameterType="com.spring.vo.config.SiteConfigVO">
		UPDATE `site_config` SET `configVal`=#{configVal}, `isShow`=#{isShow} WHERE `configCode`=#{configCode}
	</update>
	
	<select id="getSiteConfigs"  parameterType="com.spring.vo.config.SiteConfigVO" resultType="com.spring.vo.config.SiteConfigVO">
		SELECT 
			`configCode`, `configName`, `configVal`, `editType`
		FROM 
			`site_config`
		WHERE 
			`isShow` = 1
		<if test="configCode !=''">
			AND `configCode` LIKE CONCAT(#{configCode},'%')
		</if>
		<if test="groupCode !=null">
			AND `groupCode`=#{groupCode}
		</if>
		<if test="configCode !='' and deviceType !=null">
			AND `configCode` LIKE '${configCode}_${deviceType}_%'
		</if>
		ORDER BY 
			`sort` ASC
	</select>

</mapper>