<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.AdminRoleAccessMapper">

	<insert id="createAdminRoleAccess" parameterType="com.spring.model.admin.AdminRoleAccess">
		INSERT INTO `admin_role_access`(`username`, `role`) VALUES
		(#{username}, #{role})
	</insert>

	<select id="getAdminRoleAccessByUsername" resultType="String">
		SELECT `role` FROM `admin_role_access` WHERE `username`=#{username}
	</select>

</mapper>