<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.AdminRoleAccessMapper">

	<insert id="createAdminRoleAccess" parameterType="java.util.List">
		INSERT INTO `admin_role_access`(`groupId`, `role`) VALUES
		<foreach collection ="list" item="adminRoleAccess" index= "index" separator =",">
		(#{adminRoleAccess.groupId}, #{adminRoleAccess.role})
		</foreach >
	</insert>
	
	<delete id="deleteAdminRoleAccess">
		DELETE FROM `admin_role_access` WHERE `groupId`=#{groupId}
	</delete>

	<select id="getAdminRoleAccessByGroupId" resultType="String">
		SELECT `role` FROM `admin_role_access` WHERE `groupId`=#{groupId}
	</select>

</mapper>