<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.AdminGroupMapper">

	<insert id="createAdminGroup" parameterType="com.spring.vo.admin.AdminGroupVO">
		INSERT INTO `admin_group`(`groupName`) VALUES (#{groupName})
	</insert>
	
	<update id="modifyAdminGroup" parameterType="com.spring.vo.admin.AdminGroupVO">
		UPDATE `admin_group` SET `groupName`=#{groupName} WHERE `groupId`=#{groupId}
	</update>
	
	<update id="deleteAdminGroup" parameterType="com.spring.vo.admin.AdminGroupVO">
		UPDATE `admin_group` SET `isDel`=1 WHERE `groupId`=#{groupId}
	</update>
	
	<!-- for selectBox -->
	<select id="getAdminGroupSelectBox" resultType="com.spring.vo.admin.AdminGroupVO">
		SELECT `groupId`, `groupName` FROM `admin_group` WHERE `isDel`=0 AND `status`=1
	</select>
	<!-- for List -->
	<select id="getAdminGroups" resultType="com.spring.vo.admin.AdminGroupVO">
		SELECT 
			`groupId`, `groupName`, `status` 
		FROM 
			`admin_group` 
		WHERE 
			`isDel`=0
		ORDER BY 
			`groupId` ASC
	</select>
	<!-- for One -->
	<select id="getAdminGroup" resultType="com.spring.vo.admin.AdminGroupVO">
		SELECT `groupId`, `groupName`, `status` FROM `admin_group` WHERE `groupId`=#{groupId}
	</select>

</mapper>