<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.OperationRecordMapper">

	<insert id="createOperationRecord" parameterType="com.spring.dto.admin.OperationRecord">
		INSERT INTO `operation_record`(`username`, `content`) VALUES (#{username}, #{content})
	</insert>
	
	<!-- for List -->
	<select id="getOperationRecords" parameterType="com.spring.vo.admin.OperationRecordVO" resultType="com.spring.vo.admin.OperationRecordVO">
		SELECT 
			`id`, `username`, `content`, `createTime` 
		FROM 
			`operation_record` 
		<where>
			<if test="keywords !=''">
				`username` LIKE CONCAT(CONCAT('%', #{keywords}),'%')  
			</if>
		</where>
		ORDER BY `id` DESC
	</select>

</mapper>