<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mappers.BuyerAppBannerMapper">

	<insert id="createBuyerAppBanner" parameterType="com.spring.dto.buyer.BuyerAppBanner">
		INSERT INTO `buyer_app_banner`(`adName`, `adImage`, `sort`, `status`) VALUES
		(#{adName}, #{adImage}, #{sort}, #{status})
	</insert>
	
	<update id="modifyBuyerAppBanner" parameterType="com.spring.dto.buyer.BuyerAppBanner">
		UPDATE `buyer_app_banner` SET `adName`=#{adName}, `adImage`=#{adImage}, `sort`=#{sort}, `status`=#{status} WHERE `adId`=#{adId}
	</update>
	
	<update id="deleteBuyerAppBanner">
		UPDATE `buyer_app_banner` SET `isDel`=1 WHERE `adId`=#{adId}
	</update>
	
	<select id="hasBuyerAppBanner" resultType="int">
		SELECT COUNT(*) AS count FROM `buyer_app_banner` WHERE `adId`=#{adId}
	</select>
  
  	<select id="getBuyerAppBanner" resultType="com.spring.dto.buyer.BuyerAppBanner">
		SELECT `adId`, `adName`, `adImage`, `sort`, `status`, `createTime` FROM `buyer_app_banner` WHERE `adId`=#{adId}
	</select>
	
	<select id="getBuyerAppBanners"  parameterType="com.spring.dto.buyer.BuyerAppBanner" resultType="com.spring.dto.buyer.BuyerAppBanner">
		SELECT 
			`adId`, `adName`, `adImage`, `status`, `createTime` 
		FROM 
			`buyer_app_banner`
		WHERE 
			`isDel` = 0
		ORDER BY 
			`sort` DESC
	</select>

</mapper>